# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# IDE and editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Build output
build/

# Misc
.DS_Store
